<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        {% for record in object_list %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <p class="card-text">Group name: <b>{{ record.name }}</b></p>
                  {% for teacher in record.teachers.all %}
                    <p><b>{{ teacher.name}}</b> is the teacher of this group</p>
                  {% endfor %}
              </div>
            </div><br>
        </div>
        {% endfor %}
    </body>
</html>

