<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        {% for group in groups %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-text">Group name: <b>{{ group.name }}</b></h5>{# название группы #}
                <br>
                  <p>There are <b>{{ group.stq }}</b> students in this group</p>{# количество студентов в группе #}
                  <p>Average age of the students in the group is <b>{{ group.stavg }}</b> y. o.</p>{# средний возраст студентов в группе #}
                  <p>The oldest student in the group is <b>{{ group.stmax }}</b> y. o.</p>{# максимальный возраст студента в группе #}
                   <p>The youngest student in the group is <b>{{ group.stmin }}</b> y. o.</p>{# минимальный возраст студента в группе #}
                  {% for teacher in group.teachers.all %}
                    <p><b>{{ teacher.name}}</b> is the teacher of this group</p>{# имя учителя #}
                  {% endfor %}
              </div>
            </div><br>
        </div>
        {% endfor %}
    </body>
</html>

